locales/de.lua
locales/fr.lua
locales/nl.lua
locales/pt-br.lua
locales/pt.lua
locales/da.lua
locales/fr.lua
locales/hu.lua
locales/it.lua
locales/lt.lua
locales/nl.lua
locales/pt-br.lua
locales/pt.lua
locales/tr.lua
locales/ua.lua
